<% if @post.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post
from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
    <%= link_to 'Take me back to the index', posts_index_path %>
    <%= link_to 'Create another post', posts_dashboard_path %>
<% else %>
    <h1> Your post was successfully saved! </h1>
    <%= link_to 'Take me back to the index', posts_index_pat %>
    <%= link_to 'Create another post', posts_dashboard_path  %>
<% end %>